---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPost = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mi blog Astro Aprendizaje";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aquí es donde publicaré mi viaje de aprendizaje en Astro</p>
  <ul>
    {allPost.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
  </ul>
</BaseLayout>
